.Login {
  text-align: center;
}

.Login-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-title{
  font-size: calc(15px + 3vmin);
  margin-bottom: 15px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form-username,
.login-form-password {
  margin: 0.1rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

label {
  margin-bottom: 2px;
}

input {
  padding: 10px;
  font-size: 16px;
  width: 100%;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.sr-only {
  position: absolute;
  width: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
