.navbarStyle {
  display: flex;
  padding: 15px 50px;
  align-items: center;
  background-color: #28a745; /* Green */
  text-align:center;
  justify-content: space-between;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

}

.logoContainer {
  flex: 1;
}

.logo {
  height: 50px;
}

.navLinks {
  flex: 2;
  display: flex;
  white-space: nowrap;
}

.navLink {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
}

.searchContainer {
  flex: 2;
  display: flex;
}

.searchInput {
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  width: 400px;
}

.searchButton {
  background-color: #fff;
  border: 1px solid #28a745;
  color: #28a745;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
  margin: 0 auto;
  display: block;
}

.button {
  border-Radius: 2px;
  background-color: #fff;
  margin: 20px;
  font-Size: 14px;
  border-radius: 5px;
  text-decoration: none;
  text-Align: center;
  padding: 12px;
  font-weight: bold;
  color: #28a745;
}




.authButtons {
  flex: 2;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
